<!--Section 1 Header(NavBar)-->
  <header>
         
    <img class="header-img" src="logo/logo.webp" alt="Logo">
    
    
    <nav>
       <a class="link1" href="/main.html"">HOME</a>
       <a class="link" href="/animals.html">ANIMALS</a>
       <a class="link" href="/nature.html">NATURE</a>
       <a class="link" href="https://www.facebook.com/piri.shankhan/"><img class="navImage" src="logo/piri.webp" alt="logo"></a>
       <img id="menu-button" onclick="clickMenu()" class="menu-img"  src="logo/menu.webp" alt="logo">
        
     
 </header>

 <div id="menu"class="overlay">
        
   <a  href="/main.html">HOME</a>
   <a  href="/animals.html">ANIMALS</a>
   <a  href="/nature.html">NATURE</a>
   

   
   <img id="close-button" onclick="clickMenu()" src="logo/close.webp" alt="logo">


</div>

 